<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1" width="100%" height="228">
    <tr>
        <td>ID</td>
        <td>
            <a th:href="@{'/api/v1/fines?page=' + ${page} + '&sortField=violatorName&sortDirection=' + ${reverseSortDir}}">NAME</a>

        </td>
        <td>
            <a th:href="@{'/api/v1/fines?page=' + ${page} + '&sortField=carNumber&sortDirection=' + ${reverseSortDir}}"> CAR</a>
           </td>
        <td>
            <a th:href="@{'/api/v1/fines?page=' + ${page} + '&sortField=gayOfficerName&sortDirection=' + ${reverseSortDir}}">OFFICER</a>
            </td>
        <td>TIME</td>
        <td>
           VALUE
        </td>
        <td>SUBP</td>
        <td>PAY</td>
        <td>DATA</td>
        <td>DLINE</td>

        <tr th:each = "Violation : ${violation.content}" >
            <td class = "id" th:text = "${Violation.getId()}"></td>
            <td th:text=" ${Violation.getViolatorName()} "></td>
            <td th:text="${Violation.getCarNumber()}"></td>
            <td th:text="${Violation.getGayOfficerName()}"></td>
            <td th:text="${Violation.getTimeOfProtocol()}"></td>
            <td th:text="${Violation.getSumm()}"></td>
            <td th:text="${Violation.getSubpoena()}"></td>
            <td th:text="${Violation.getPayment()}"></td>
            <td th:text="${Violation.getDataOfPayment()}"></td>
            <td th:text="${Violation.getDeadlinePayment()}"></td>

        </tr>


</table>
<div  th:if = "${violation.totalPages > 0}" >
    <p th:each="pageNumber : ${numbers}"
    th:class="${pageNumber == violation.number} ? active"
    >
        <a th:href = "@{'/api/v1/fines?page=' + ${pageNumber} + '&sortField=' + ${sortField} + '&sortDirection=' +${sortDirection}}" th:text="${pageNumber + 1}"></a>
    </p>
</div>



</body>
</html>