<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1" width="100%" height="228">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>CAR</th>
    <th>OFFICER</th>
    <th>TIME</th>
    <th>VALUE</th>
    <th>SUBP</th>
    <th>PAY</th>
    <th>DATA</th>
    <th>DLINE</th>

  <tr th:each = "Violation : ${violation}" >
    <td class = "id" th:text = "${Violation.getId()}"></td>
    <td th:text=" ${Violation.getViolatorName()} "></td>
    <td th:text="${Violation.getCarNumber()}"></td>
    <td th:text="${Violation.getGayOfficerName()}"></td>
    <td th:text="${Violation.getTimeOfProtocol()}"></td>
    <td th:text="${Violation.getSumm()}"></td>
    <td th:text="${Violation.getSubpoena()}"></td>
    <td th:text="${Violation.getPayment()}"></td>
    <td th:text="${Violation.getDataOfPayment()}"></td>
    <td th:text="${Violation.getDeadlinePayment()}"></td>

  </tr>


  </tr>


</table>


</body>
</html>